body{
	background-color:#2b2b2b;
}
#wrapper {

	width: 100%;
	height: auto;
	max-width: 940px;
	margin: 0 auto 0 auto; 
} 
#countdown {
	position: relative;
	max-width: 780px;
	margin: 35% auto;
	text-align: center; } 
h1, h2 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #fff; } 
.header {
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 1;
	margin: 0 0 60px 0;
	margin: 0 0 6.0rem 0; } 
hr {
	width: 100%;
	margin: 60px auto;
	height: 1px;
	background: #333;
	border: none; } 
p > a {
	color: #38b789;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 1px solid #38b789;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; } 
p > a:hover {
	color: #34a87d;
	border-bottom: 1px solid #34a87d; } 
